*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    

body{
    background-color: #c2c2c2ab;
    

}
.wrapper{
    width: 100vw;
}

header {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    height: 6rem;
    border-bottom: 2px solid #e8e8e8;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1002;
    overflow: hidden;
}

.header-responsive {
    display: none;
    position: sticky;
    top: 6rem;
}

nav {
    /* Mantenha ou ajuste conforme necessário */
    display: flex;
    flex: 1;
    align-items: center;
    height: 100%;
}

.box-logo-header {
    margin-left: 80px;
    margin-right: 30px;
}

.logoLSI {
    width: 150px;
    margin: 0 20px;
    /* border: 1px solid red; */
}

.azulclaro {
    background-color: #0095DB;
    display: block;
    width: 20px;
    height: 120%;
    rotate: 6deg;
    position: absolute;
    left: 290px;
}

ul {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    background-color: #164194;
}

li {
    list-style: none;
    color: #ffffff;
    cursor: pointer;
    transition: .2s;
    font-weight: 600;
}

li:hover {
    transform: scale(1.05);
}

@media (max-width: 650px) {
    ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 650px) {
    header {
        display: flex;
        justify-content: center;
    }

    .header-responsive {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #164194;
        height: 4rem;
        border-bottom: 2px solid #e8e8e8;
        position: sticky;
        top: 6rem;
        z-index: 1002;
        overflow: hidden;
    }

    .ul-responsiva{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .li-responsiva{
        color: white;
    }

    nav {
        display: none;
    }

    .box-logo-header {
        margin: 0 auto;
    }

    .logoLSI {
        margin: 0 auto;
    }

    .azulclaro {
        display: none;
    }

    ul {
        display: none;
    }
}



/*FIM DA NAV BAR*/

main{
    background-color: white;
    width: 1280px;
    max-width: 80%;
    display: block;
    margin: 0 auto;
    padding: 0 24px;
    border-bottom:2px solid #e8e8e8;
    z-index: 2;
    
}

.topo1{
    /* border: 1px solid red; */
    display: flex;
    padding: 40px;
    justify-content: space-around;
    
    /* margin-top: 40px; */
    
}

.info-box1{
    /* border: 1px solid red; */
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.caixatext{
    /* border:1px solid purple; */
    height: 45%;
}
.caixacopy{
    display: grid;
    align-items: end;
    /* border: 1px solid green; */
    height: 50%;
}

.copy{
    /* border: 1px solid purple; */
    font-size: 12px;
    color: #000000a0;

}
.caixa-timelsi{
    /* display: flex; */
    /* justify-content: center; */
    /* border: 1px solid green; */
    width: 40rem;
}

.timelsi{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px #16409459;
    /* border: 1px solid red; */
}

.info-time{
    text-align: center;
    align-items: start;
    margin: 0 20px;
    /* border: 1px solid red; */
}

@media (max-width: 1353px) {
    .topo1 {
        flex-direction: column;
        align-items: center;
    }
    
    .info-box1, .caixa-timelsi {
        width: 100%;
        margin-bottom: 20px; /* Espaço entre as caixas */
    }
}



/*FIM DA APRESENTAÇÃO*/

.projetos{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    /* box-shadow:0px 5px 10px #164194; */
}

.projetos .ndt,.igniscope{
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

.ndt{
    background-color: #172735;
    display: flex;
    margin: 40px 0;
    border-radius: 50px;
    width: 45%;
    transition: .2s;
}

.ndt:hover{
    transform: scale(1.01);
    box-shadow: 0 5px 10px #172735;


}

.igniscope{
    display: flex;
    background-color: #164194;
    margin: 40px 0;
    border-radius: 50px;
    /* border: 1px solid red; */
    width: 45%;
    transition: .2s;
}

.igniscope:hover{
    transform: scale(1.01);
    box-shadow: 0 5px 10px #164194;
}

.icon-ndt{
    /* border: 1px solid red; */
    width: 100px;
    margin: 20px;
}

.icon-igniscope{
    /* border: 1px solid red; */
    width: 100px;
    margin: 20px;
    /* border: 1px solid green; */
}
.info-projeto{
    /* border: 1px solid red; */
    height: 100%;
    display: grid;
    text-align: center;
    color: white;
}

.text-start-proj{
    text-align: start;
}

.text-end-proj{
    text-align: end;
}

@media (max-width: 1353px) {
    .projetos {
        flex-direction: column;
        align-items: center;
        margin: 0 24px;
    }
    
    .ndt, .igniscope {
        width: 100%;
        margin-bottom: 20px; /* Espaço entre as caixas */
    }
}

/*FIM DOS PROJETOS*/
.devs{

    margin: 40px 0;

}

.box-members{

    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.member{
    /* border: 1px solid black; */
    /* height: 25rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12.5rem;
    max-width: 18.75rem;
    
}

.photo-member{
    width: auto;
    height: 13rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.info{
    width: 100%;
    height: auto;
    /* max-height: 12rem; */
    /* display: grid; */
    /* gap: 0.5rem; */
    /* border: 1px solid red; */
    overflow: hidden;
    position: relative;
    margin-bottom: 8px;
}

.info-flexivel{
    width: 100%;
    height: 8rem;
    /* max-height: 12rem; */
    display: grid;
    gap: 0.5rem;
    /* border: 1px solid red; */
    overflow: hidden;
    position: relative;
}

.info-flexivel::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;
    background: linear-gradient(transparent,#fff );

}

.info-flexivel.active::before{
    visibility: hidden;
}

.active{
    height: auto;
    /* box-shadow: 1px 1px 9px  #164194; */
}

#idReadMore{

}

.read-more{
    background-color: #164194;
    margin-top: 10px;
    width: 60%;
    height: 2rem;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0.2rem;
    border: none;
    padding: 10px 16px;
    transition: all 0.5s ease-in-out;
}

.read-more:hover{
    background: linear-gradient(to left, #0095DB, #164194);
    /* color: #000; */
    transition: all 0.5s ease-in-out;
}

.member-position{
    text-align: center;

}

.description{
    text-align: center;
    /* max-width: 15ch */
    /* max-height: 6ch; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */

}

.links{
    /* border: 1px solid red; */
}

.linkedin, .github{
    width: 2rem;
    margin: 0.5rem;
    transition: .2s;

}

.linkedin:hover, .github:hover{
    transform: scale(1.30);
}

/*FIM DOS DESENVOLVEDORES*/

.loc-lab{
    /* border: 1px solid purple; */

}

.box-title-loc-lab{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    position: relative;
    

}

.boxh1{
    /* border: 1px solid red; */
    width: 30%;
    margin: 0 2rem;

}

.boxh1 h1{
    /* background-color: #164194; */
    text-align: end;
    font-size: 1.5rem;

}

.boxhr{
    /* border: 1px solid green; */
    width: 65%;
    position: relative;


}

.boxhr hr{
    /* border-color: #164194; */
    /* rotate: 15deg; */
    width: 100%;
    top:50%;
    position: absolute;
    /* display: flex; */
    /* align-items: center; */

}


.box-info-location{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.info-location{
    /* border: 1px solid red; */
    padding: 16px;
    width: 50%;
}

.location, .adress{
    /* border: 1px solid red; */
    margin: 20px 0;
    font-size: 1.5rem;
}

.opening-hours{
    display: flex;
    justify-content: space-between;
}

.days, .hours{
    font-size: 1.5rem;
}

.days{

}

.hours{
    text-align: center;
    font-weight: bold;
}

.box-mapa{
    /* border: 1px solid red; */
    width: 50%;
    height: auto;
}

.mapa{
    width: 100%;
}



/* FIM DA LOCALIZACAO DO LAB */
footer{
    height: 6rem;
    background-color: white;
    display: flex;
    align-items: center;
}

.logo-footer{
    margin: 2rem;

}

.logo-footer img{
    width: 5rem;
}