*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    

body{
    background-color: #c2c2c2ab;
    display: grid;
    /* padding: 1rem; */
    /* width: 100vw; */

}
.wrapper{
    width: 100%;
    display: grid;
    justify-content: center;
}

header {
    width: 100%;
    background: linear-gradient(to right, #fff 50%,#164194 50%);
    display: flex;
    justify-content: center;
    height: 6rem;
    border-bottom: 2px solid #e8e8e8;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1002;
    overflow: hidden;
    /* border: 4px solid orangered; */
}

.container-topo{
    /* opacity: 0; */
    background-color: #fff;
    width: 1280px;
    height: 100%;
    display: flex;
    /* border: 1px solid yellow; */
    margin: 0 auto;
    position: absolute;

}



.header-responsive {
    display: none;
    position: sticky;
    top: 6rem;
}

nav {
    /* Mantenha ou ajuste conforme necessário */
    display: flex;
    flex: 1;
    align-items: center;
    height: 100%;
}

.box-logo-header {
    margin-left: 80px;
    margin-right: 30px;
    position: relative;
    background-color: #fff;
    /* border: 1px solid red; */
}

.logoLSI {
    width: 180px;
    /* margin: 0 20px; */
    /* border: 1px solid red; */
}

.azulclaro {
    background-color: #0095DB;
    display: block;
    width: 15px;
    height: 120px;
    rotate: 6deg;
    position: absolute;
    top: -20px;
    left: 205px;
}

ul {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    background-color: #164194;
    /* border: 10px solid green; */
}

li {
    list-style: none;
    color: #ffffff;
    cursor: pointer;
    transition: .2s;
    font-weight: 600;
}

li:hover {
    transform: scale(1.05);
}


/*FIM DA NAV BAR*/

main{
    background-color: white;
    width: 1280px;
    /* max-width: 80%; */
    display: block;
    margin: 0 auto;
    padding: 0 24px;
    border-bottom:2px solid #e8e8e8;
    z-index: 2;
    position: relative;
    
}

.topo1{
    /* border: 1px solid red; */
    display: flex;
    padding: 40px;
    justify-content: space-around;
    
    /* margin-top: 40px; */
    
}

.info-box1{
    /* border: 1px solid red; */
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.caixatext{
    /* border:1px solid purple; */
    height: 45%;
}
.caixacopy{
    display: grid;
    align-items: end;
    /* border: 1px solid green; */
    height: 50%;
}

.copy{
    /* border: 1px solid purple; */
    font-size: 12px;
    color: #000000a0;

}
.caixa-timelsi{
    /* display: flex; */
    /* justify-content: center; */
    /* border: 1px solid green; */
    width: 45%;
}

.timelsi{
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px #16409459;
    /* border: 1px solid red; */
}

.info-time{
    text-align: center;
    align-items: start;
    margin: 0 20px;
    font-size: 1rem;
    /* border: 1px solid red; */
}

/*FIM DA APRESENTAÇÃO*/

.projetos{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    /* box-shadow:0px 5px 10px #164194; */
}

.projetos .ndt,.igniscope{
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

.ndt{
    background-color: #172735;
    display: flex;
    margin: 40px 0;
    border-radius: 50px;
    width: 45%;
    transition: .2s;
}

.ndt:hover{
    transform: scale(1.01);
    box-shadow: 0 5px 10px #172735;


}

.igniscope{
    display: flex;
    background-color: #164194;
    margin: 40px 0;
    border-radius: 50px;
    /* border: 1px solid red; */
    width: 45%;
    transition: .2s;
}

.igniscope:hover{
    transform: scale(1.01);
    box-shadow: 0 5px 10px #164194;
}

.icon-ndt{
    /* border: 1px solid red; */
    width: 100px;
    margin: 20px;
}

.icon-igniscope{
    /* border: 1px solid red; */
    width: 100px;
    margin: 20px;
    /* border: 1px solid green; */
}
.info-projeto{
    /* border: 1px solid red; */
    height: 100%;
    display: grid;
    text-align: center;
    color: white;
}

.text-start-proj{
    text-align: start;
}

.text-end-proj{
    text-align: end;
}

/*FIM DOS PROJETOS*/
.devs{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* border: 1px solid red; */

}

.box-prof{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
}

.box-prof .member-prof{
    background-color: #164194;
    width: 50%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 25px;

}

.box-prof .photo-member-prof{
    width: auto;
    height: 70%;
    border-radius: 50%;

}

.box-prof .info-flexivel{
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.box-prof .member-position-prof{
    color: white;
    text-align: center;
}

.box-prof .description-prof{
    color: white;
    font-size: 1rem;
    text-align: center;

}

.links-prof{
    /* border: 1px solid red; */
}

.links-prof a{
}

.links-prof img{



}
.box-members{

    /* background-color: #164194; */
    width: 100%;
    /* border: 10px solid red; */
    display: flex;
    /* gap: 1rem 1rem; */
    padding: 1rem;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
}

.box-members .member{
    background-color: #164194;
    /* border: 3px solid red; */
    width: 35%;
    height: 10rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-radius: 25px;
    /* gap: 1rem; */
    /* margin: auto auto; */
    /* padding: 1rem; */
    
}

.photo-member{
    /* border: 1px solid red; */
    width: auto;
    height: 70%;
    border-radius: 50%;
    /* margin-bottom: 1rem; */
}

.info{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.member-position{
    /* border: 1px solid green; */
    text-align: center;
    color: white;

}

.description{
    /* border: 1px solid yellow; */
    text-align: center;
    color: white;
    /* max-width: 15ch */
    /* max-height: 6ch; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
}

.links{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.linkedin, .github{
    width: 2rem;
    /* margin: 0.5rem; */
    transition: .2s;

}

.linkedin:hover, .github:hover{
    transform: scale(1.30);
}


/*FIM DOS DESENVOLVEDORES*/

.loc-lab{
    /* border: 1px solid purple; */

}

.box-title-loc-lab{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    position: relative;
    

}

.boxh1{
    /* border: 1px solid red; */
    width: 30%;
    margin: 0 2rem;

}

.boxh1 h1{
    /* background-color: #164194; */
    text-align: end;
    font-size: 1.5rem;

}

.boxhr{
    /* border: 1px solid green; */
    width: 65%;
    position: relative;


}

.boxhr hr{
    /* border-color: #164194; */
    /* rotate: 15deg; */
    width: 100%;
    top:50%;
    position: absolute;
    /* display: flex; */
    /* align-items: center; */

}


.box-info-location{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.info-location{
    /* border: 1px solid red; */
    padding: 16px;
    width: 50%;
}

.location, .adress{
    /* border: 1px solid red; */
    margin: 20px 0;
    font-size: 1.5rem;
}

.opening-hours{
    display: flex;
    justify-content: space-between;
}

.days, .hours{
    font-size: 1.5rem;
}

.days{

}

.hours{
    text-align: center;
    font-weight: bold;
}

.box-mapa{
    /* border: 1px solid red; */
    width: 50%;
    height: auto;
}

.mapa{
    width: 100%;
}


/* FIM DA LOCALIZACAO DO LAB */


footer{
    height: 6rem;
    background-color: white;
    display: flex;
    align-items: center;
}

.logo-footer{
    margin: 2rem;

}

.logo-footer img{
    width: 5rem;
}